.App {
  text-align: center;
  margin-top: 20px;
}

.button {
  padding: 10px;
  margin-top: 10px;
  margin-left: 5px;
  width: 100px;
  height: 100px;
  border-radius: 30px;
  font-size: 30px;
  box-shadow: black;
  cursor: pointer;
}

.button:hover {
  background-color: black;
  color: white;
  
}

.letters {
  font-size: 100px;
  text-decoration: underline;
}
.button-change {
  width: 150px;
  height: 100px;
  border-radius: 30px;
  font-size: 20px;
  background-color: chartreuse;
  color: blue;
  cursor: pointer;

}

.button-delete {
  width: 150px;
  height: 100px;
  border-radius: 30px;
  font-size: 20px;
  background-color: red;
  color: blue;
  cursor: pointer;

}
.buttons{
  text-align: center;
  justify-content: center;
  align-items: center;
}